/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */

/* ----- Variables  -----  */
:root {
  --primary-color: #2c3e50;      /* Dark Blue */
  --secondary-color: #2980b9;    /* Blue */
  --accent-color: #e74c3c;       /* Red */
  --text-color: #000d00;         /* White */
  --background-color: #dae6e6;
}

/* Font Styles */
@import url('https://fonts.googleapis.com/css?family=SourceSansPro:400,700&display=swap');  

/* ----- Anchors ----- Text links */
a {}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  text-decoration:none;
  background-color:var(--alpha);
  margin:20px;
}
nav a {
  background-color:var(--grey);
  border:2px solid var(--near-black);
  border-radius:5px 5px 0 0; 
  color:var(--background-color);
  font-size:1.2em;
  font-weight:bold;
  margin-right:3px;
  padding: 3px 20px 5px 20px;
  text-decoration:none;;
}
nav a:hover {
  background-color:var(--tan);
  color:var(--secondary-color);
  text-decoration:none;
}

/*  ----- Page layout blocks -----  */
body {
  margin: 0px;
  padding: 0%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 800px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Adjust the spacing between cards */
  max-width: 95%;
  padding: 20px;
  flex-basis: 88%;
}

.center-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  font-family: 'Source Sans Pro', sans-serif;
  /* padding: 20px; */
}

header h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin: 0;
}
h3 {
  font-size: 18px;
}

p {
}

/* Main Styles */
main {
  margin-inline: 5%;
  padding: 0;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Links Styles */
a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

nav {
  margin-inline: 75px;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Images */
.portrait {
  max-width: 300px;
  height: auto;
  border-radius: 50px; /* Add rounded edges */
  margin: 80px;
}

/* List */
.two-column-list {
  column-count: 2;
}

.contact-form {
  border:none;
}

form {
  max-width:90%;
}